<!-- <script src="/js/jquery.bxslider.min.js"></script>
<link href="/css/jquery.bxslider.css" rel="stylesheet" />
<script>
$(document).ready(function(){
$('.bxslider').bxSlider({
mode:'fade',
captions:true
});
});
</script>

    <div id="nimage">
      <ul class="bxslider">
    <li><a href="./image5"><img src="./upload/{{image1}}"style="width:50%"></a></li>
    <li><a href="./image6"><img src="./upload/{{image2}}"></a></li>
    <li><a href="./image7"><img src="./upload/{{image3}}"style="width:50%"></a></li>
  </ul>
    </div> -->

    <script src="/js/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="/css/owl.carousel.min.css"></script>

    <script>
    function image(id){
      $.ajax({
        url:'./'+id
      });
    }
    $(document).ready(function(){
      $('.owl-carousel').owlCarousel();
    });
    </script>

      <div id="nimage" class="owl-carousel owl-theme">
      <div><a id="image5" onclick="image(this.id)"><img src="./upload/{{image1}}" style="width: 98%;height: 151px;"></a><p style="border: 1px solid #333;
        padding: 3px;">Non Veg Supreme Black Olives Onions Crisp Capsicum Mushroom hot n spicy chicken chunky chicken</p></div>
      <div><a id="image6" onclick="image(this.id)"><img src="./upload/{{image2}}" style="width: 98%;height: 151px;"></a><p style="border: 1px solid #333;
        padding: 3px;">Chicken Dominator Grilled Chicken Rashers Double Barbeque Chicken Exotic Chicken Salami Hot n Spicy Chicken</p></div>
      <div><a id="image7" onclick="image(this.id)"><img src="./upload/{{image3}}" style="width: 98%;height: 151px;"></a><p style="border: 1px solid #333;
        padding: 3px;">Seventh Heaven Double Chicken Rashers Barbeque Chicken Onion Yellow Bell Pepper Red Bell and Jalapeno</p></div>
    </div>
