
<script src="/js/owl.carousel.min.js"></script>
<link rel="stylesheet" href="/css/owl.carousel.min.css"></script>

<script>
function image(id){
  var pending;
  // if(pending){
  //   pending.abort();
  //   return;
  // }
 $.ajax({
    url:'./'+id,
    success:function(response){

    }
  });

}

</script>


<div id="image" v-if="items[0].message === 'nikhil'">

    <div id="image" class="owl-carousel owl-theme">
    <div><a id="image1" onclick="image(this.id)" ><img src="/upload/{{image1}}" style="width: 98%;height:151px;"/></a><p style="border: 1px solid #333;
      padding: 3px;">Veg ExtraVaganza Black Olives,Onions,Crisp Capsicum,Mushroom Fresh Tomato,Golden Corn,Jalapeno and Extra Cheese</p></div>
    <div><a id="image2" onclick="image(this.id)"><img src="/upload/{{image2}}" style="width: 98%;height:151px;"/></a><p style="border: 1px solid #333;
      padding: 3px;">Cloud 9 Onion,Tomato BabyCorn Paneer Crisp Capsicum and Jalapeno</p></div>
    <div><a id="image3" onclick="image(this.id)"><img src="/upload/{{image3}}" style="width: 98%;height:151px;"/></a><p style="border: 1px solid #333;
      padding: 3px;">Chef's Veg Wonder Mushroom Jalapeno BabyCorn Crisp Capsicum Paneer and Red Paprika</p></div>
    <div><a id="image4" onclick="image(this.id)"><img src="/upload/{{image4}}" style="width: 98%;height:151px;"/></a><p style="border: 1px solid #333;
      padding: 3px;">Peppy Paneer Paneer Crisp Capsicum and Red Paprika</p></div>
  </div>
</div>

<div  id="nimage" v-if="items[0].message === 'aman'">

  <div id="nimage" class="owl-carousel owl-theme">
  <div><a id="image5" onclick="image(this.id)"><img src="/upload/{{image1}}" style="width: 98%;height: 151px;"/></a><p style="border: 1px solid #333;
    padding: 3px;">Non Veg Supreme Black Olives Onions Crisp Capsicum Mushroom hot n spicy chicken chunky chicken</p></div>
  <div><a id="image6" onclick="image(this.id)"><img src="/upload/{{image2}}" style="width: 98%;height: 151px;"/></a><p style="border: 1px solid #333;
    padding: 3px;">Chicken Dominator Grilled Chicken Rashers Double Barbeque Chicken Exotic Chicken Salami Hot n Spicy Chicken</p></div>
  <div><a id="image7" onclick="image(this.id)"><img src="/upload/{{image3}}" style="width: 98%;height: 151px;"/></a><p style="border: 1px solid #333;
    padding: 3px;">Seventh Heaven Double Chicken Rashers Barbeque Chicken Onion Yellow Bell Pepper Red Bell and Jalapeno</p></div>
</div>
</div>
